@use '../abstracts' as abs
    
header
    min-height: 40vh

    .header-img-wrapper
        position: absolute
        
    nav
        position: relative
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        padding: 1.5em 1.5em 1.5em 1em 
        z-index: 999
        
    .header-logo 
        color: white
        font-weight: 700
        font-size: 2rem

    .menu-icon
        height: 2.5rem
        line-height: 2.5rem
        padding: 0.5em
        cursor: pointer

        &.active
            content: url(../../images/icon-close-menu.svg)