@use '../abstracts' as abs

.back-project 
    background-color: white
    margin: 2em 1em 4em
    border-radius: 15px
    padding: 0.75em 1.25em 2em
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
    text-align: left
    width: clamp(20rem, 90%, 50rem)

    .about-project
        padding-block: 1em

        & p
            color: grey
            line-height: 1.5rem
            font-size: 0.95rem

        & > *
            padding-block: 0.75em

    .pledge-cards-container
        display: grid
        gap: 2em

        .card
            display: flex
            flex-direction: column
            padding: 0.25em 3em 0.25em 1.125em 
            border: 1px solid abs.$primary-mod-cyan
            border-radius: 10px

            & :nth-child(2)
                color: grey
                line-height: 1.5rem
                font-size: 0.95rem

            & > *
                padding: 1em 0

            & .number-left 
                 color: grey


            & .number-left span
                font-weight: 700
                font-size: 1.75rem
                color: black

            & .button
                padding: 1em 1.5em

        


