@use '../abstracts' as abs

.selection-modal
    background-color: white
    margin: 2em 1em 0
    border-radius: 15px
    padding: 1.25em
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
    text-align: center
    width: clamp(20rem, 90%, 50rem)