@use '../abstracts' as abs
@use 'card_default'

.selection-modal
    display: none
    position: absolute
    top: 0
    left: 0

    &.active
        display: block

    &::before
        opacity: 1
        content: ''
        display: block
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0, 0, 0, 0.6) 

    .selection-modal-wrapper
        position: relative
        top: 0
        left: 0
        background-color: white
        margin: 2em 1em 0
        border-radius: 15px
        padding: 1.25em
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
        text-align: left
        width: clamp(20rem, 90%, 50rem)    

        .modal-intro-container
            padding-block: 1em

            & > * 
                padding-block: 1em

            .title-container
                display: flex
                justify-content: space-between
                align-items: center
                
                .close-selection-modal
                    cursor: pointer
                    width: 2.5rem
                    height: 2.5rem
                    padding: 0.5em

            p
                color: grey
                font-size: 0.95rem
                line-height: 1.375rem

        .choose-pledge-container
            // color: black
        

            .choose
                position: relative
                display: inline-flex
                justify-content: center
                align-items: center
                height: 1.5rem
                width: 1.5rem
                line-height: 1.5rem
                border-radius: 50%
                border: 1px solid abs.$primary-mod-cyan
                margin-right: .75em
                cursor: pointer

        .enter-pledge
            display: none


        .card.active
            box-shadow: 0 0 0 2.5px abs.$primary-mod-cyan

            .choose
                background-clip: content-box
                padding: 0.25em
                background-color: abs.$primary-mod-cyan

            .enter-pledge
                display: block
                border-top: 1px solid abs.$primary-mod-cyan

                p
                    text-align: center
                    color: grey
                    margin-bottom: 1.25em

            .input-button-container
                position: relative
                display: flex
                width: 100%

                .dollar-sign
                    color: grey
                    margin: auto 0
                    position: relative
                    left: 8.5%
                    z-index: 1

                input
                    position: relative
                    width: 50%
                    margin-right: 1em
                    border-radius: 25px
                    border: 1px solid grey
                    text-align: center
                    color: black
                    font-weight: 500

                .button-wrapper
                    width: 50%
