@use '../abstracts' as abs
@use '../_breakpoints' as br
@use 'card_default'

.selection-modal
    display: none
    position: absolute

    &.active
        display: flex
        justify-content: center

    &::before
        opacity: 1
        content: ''
        display: block
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0, 0, 0, 0.6) 

    .selection-modal-wrapper
        position: relative
        top: 0
        left: 0
        background-color: white
        margin: 2em 1em 0
        border-radius: 15px
        padding: 1.25em
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1)
        text-align: left
        width: clamp(20rem, 90%, 50rem)    

        .modal-intro-container
            padding-block: 1em

            @include br.desktop
                margin-left: 1.5em

            & > * 
                padding-block: 1em

                @include br.desktop
                    padding-block: 0.5em

            .title-container
                display: flex
                justify-content: space-between
                align-items: center
                
                .close-selection-modal
                    cursor: pointer
                    width: 2.5rem
                    height: 2.5rem
                    padding: 0.5em

                    &:hover
                        color: red
            p
                color: abs.$neutral-dark-grey
                font-size: 0.95rem
                line-height: 1.375rem

        .choose-pledge-container

            .choose
                position: relative
                display: inline-flex
                justify-content: center
                align-items: center
                height: 1.5rem
                width: 1.5rem
                line-height: 1.5rem
                border-radius: 50%
                border: 1px solid abs.$primary-mod-cyan
                margin-right: .75em
                cursor: pointer

        .enter-pledge
            display: none


        .card

            .number-left

                @include br.desktop
                    display: none

            .title-pledge-container
                @include br.desktop
                    margin-left: 0.5em
                    width: 100%
                    justify-content: flex-start

                h3
                    @include br.desktop
                        cursor: pointer
                h3:hover
                    @include br.desktop
                        color: abs.$neutral-dark-grey

                p
                    @include br.desktop
                        margin-left: 1em

                .number-left-desktop
                    display: none

                    @include br.desktop
                        display: block
                        margin-left: auto


            &.active
                box-shadow: 0 0 0 2.5px abs.$primary-mod-cyan

                .choose
                    background-clip: content-box
                    padding: 0.25em
                    background-color: abs.$primary-mod-cyan

                .enter-pledge
                    display: block
                    border-top: 1px solid abs.$primary-mod-cyan

                    @include br.desktop
                        display: flex
                        justify-content: space-between
                        align-items: center

                    p
                        text-align: center
                        color: abs.$neutral-dark-grey
                        margin-bottom: 1.25em
                        width: 20ch
                        
                        @include br.desktop
                            margin-bottom: 0

                .input-button-container
                    position: relative
                    display: flex
                    width: 100%

                    @include br.desktop
                        justify-content: right

                    .dollar-sign
                        color: abs.$neutral-dark-grey
                        margin: auto 0
                        position: relative
                        left: 8.5%
                        z-index: 1

                        @include br.desktop
                            left: 4%

                    input
                        position: relative
                        width: 50%
                        max-width: 12rem
                        margin-right: 1em
                        border-radius: 25px
                        border: 1px solid abs.$neutral-dark-grey
                        text-align: center
                        color: black
                        font-weight: 500
                        cursor: pointer

                        @include br.desktop
                            width: 20%

                    .button-wrapper
                        width: 50%
